@use "variables.scss";

.production__title {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: variables.$black;
}

.production__text {
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: variables.$brown;
}

.production {
  margin-top: 30px;
  margin-bottom: 58px;
}
